.@{class-prefix}-global-activity-bar {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
  margin-right: 0;
  overflow: hidden;
  border-right: 1px solid #151a23;
  border-radius: 8px 0 0 8px;

  .@{class-prefix}-activity-bar-spacer {
    flex: 1;
  }

  .@{class-prefix}-activity-bar-divider {
    width: 28px;
    height: 1px;
    margin: 2px 0 4px;
    background: #3a465c;
  }
}
